<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="DBConnString" connectionString="D6AEEEC2048D85A8770C276CFA03FEF8D33679A812036577C60D0AE0813603E582B1288C7F97119A28DB474B39AE3E7FCEA17109EA80972D216DB80C7434D0D4D11B0B9E006271A965707A5BDDC46E158F6D7B874AEBFFF9" />-->
    <add name="DBConnString" connectionString="D6AEEEC2048D85A8770C276CFA03FEF8D33679A812036577C60D0AE0813603E5CFA17D9D53FEC9BEAF29224458C7E9DC9757F9E6F9A5976A7724402FCE4404DB9B90CEFC79116CB05C8BF2019DE3D26843D138381E38C1AD9F780F0F4CCB95E4" />
    <add name="ZKTeco_SH" connectionString="C5179492101573DAA2CF032A5AFCA7D4C331DD6494926352F3CCE1DFB485EE10179E93C0AEBB4483FC4170980B14FA59F8FB1BD3251AD0F4F3877FC116F87D437B9B2EDB9F9DB74DB3366A1B8D811985FDF64E4827EA6674DAE1B1387D917F11" />
    <add name="ZKTeco_IT" connectionString="C5179492101573DAA2CF032A5AFCA7D4C331DD6494926352F3CCE1DFB485EE10179E93C0AEBB4483B1C2A84B74A628DF141195ABE0DDD8E0C43989B136CD27F54AFC7B8AB1F022C38C342690E05506348DA4C53B3F4F579127BE1DE3765D96E4" />
    <add name="ZKTeco_SZ" connectionString="C5179492101573DAA2CF032A5AFCA7D4C331DD6494926352F3CCE1DFB485EE10179E93C0AEBB44834B69B1BFCEB8744B5348473C633BEF6ED05870A6D0D23AA0471DAEEB393F34ADCAEADFE8ED6D98896F996B7C2664DA6791EF8D370C0148D8" />
    <add name="ZKTeco_WH" connectionString="C5179492101573DAA2CF032A5AFCA7D4C331DD6494926352F3CCE1DFB485EE10179E93C0AEBB4483F016F5475A3F20A7B184F7B57DB48419FFD9F2DE17DF703CCD99CBBDC9C297EA00C574A15FCFC880FA779233BF5BAC1456A8F83E1F0B8E52" />
    <add name="ZKTeco_XH" connectionString="C5179492101573DAA2CF032A5AFCA7D4C331DD6494926352F3CCE1DFB485EE10179E93C0AEBB448366D0236099668310AABFB6C695BEAB60422B004713CD6C32799429E1E37D3F4BE336A43C28D52ED72393024C9DC1AC5B17FA6E0FDB30355B" />
    <add name="ZKTeco_YZF" connectionString="C5179492101573DAA2CF032A5AFCA7D4C331DD6494926352F3CCE1DFB485EE10179E93C0AEBB4483B400D741ABE4FC4D469A98403F0177088D048B1DCE94FE9925619423CD37462FDD8C1A778EA22F1F5051C0E5460035A15545F84520AB732D8F942B2DE2FB6F19" />
    <add name="ZKTeco_GL" connectionString="C5179492101573DAA2CF032A5AFCA7D4C331DD6494926352F3CCE1DFB485EE10179E93C0AEBB448393AFB86C26AC7881AEA95C86F836211BCCD686DB45E3253A8D60E42B1D7116D403423B8DD66E72DF125FCD3BFCC8C334B55D4B60380FB4F4" />
    <add name="ZKTeco_GL38" connectionString="C5179492101573DAA2CF032A5AFCA7D4C331DD6494926352F3CCE1DFB485EE10179E93C0AEBB44831345E0985ABE9A2587F6ED2CEB73EB1A01551494CECA0D93AE833C8ABF00D90E2E6A6B016BF1A742B6B86D5C8D58A31189A5F0D8C5F95E0A8BFAFB7B7A18189A" />
  </connectionStrings>
  <appSettings>
    <add key="Security_Key" value="zl335335" />
    
    <add key="Default_Password" value="123456" />
    <add key="Staff_Mini_Time" value="2013-01-01 00:00:00" />
    <add key="Default_Mini_Time" value="2014-01-01 00:00:00" />
    <add key="Work_Start_Time" value="09:30:59" />
    <add key="Work_End_Time" value="18:30:00" />
    
    <add key="Telerik.Skin" value="MetroTouch" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <system.web>
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="/index.aspx"/>
      <error statusCode="500" redirect="/error.aspx"/>
    </customErrors>-->
    <sessionState timeout="300"></sessionState>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="/login.aspx" timeout="1440" path="/">
      </forms>
    </authentication>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpRuntime maxRequestLength="20480" executionTimeout="300" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>